# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# C# Build and VS files
[Bb]in/
[Oo]bj/
.vs/
*.user
appsettings.Development.json

# Large binary files
backend/postgrest.exe
*.exe
*.winmd

# Sensitive config files
.env
appsettings.json
backend/appsettings.json
